.settings {
    display: inline-flex;
    white-space: nowrap;
    font-weight: bold;
}

.settings>* {
    margin: 0 .5em;
    margin-bottom: .8em;
    font-weight: bold;
}

.settings input {
    width: 3em;
}

table#grid {
    width: auto;
    text-align: center;
    vertical-align: middle;
}

td {
    padding: 0;
}
